<!DOCTYPE html>
<html>
  <head>
    <title>Home | Docker | Jenkins</title>
  </head>
  <body>
    <div
      style="
        background: #5d5c5c24;
        top: 0px;
        width: 100%;
        justify-content: center !important;
        align-items: center;
        display: flex;
      "
    >
      <h1 style="text-align: center; width: 90%">
        D<span style="color: #0000008c">ocker</span>J<span
          style="color: #0000008c"
          >enkins</span
        >
      </h1>

      <div>
        <button
          style="
            font-size: 14px;
            border: none;
            background: transparent;
            cursor: pointer;
          "
        >
          <a href="/login" style="text-decoration: none; color: black">
            Login
          </a>
        </button>

        <button
          style="
            font-size: 14px;
            border: none;
            background: transparent;
            cursor: pointer;
          "
        >
          <a href="/register" style="text-decoration: none; color: black">
            Register
          </a>
        </button>
      </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="justify-content: center; align-items: center; height: 100%">
        <img
          src="https://d1.awsstatic.com/acs/characters/Logos/Docker-Logo_Horizontel_279x131.b8a5c41e56b77706656d61080f6a0217a3ba356d.png"
          alt=""
          height="250px"
          width="300px"
        />
      </div>
      <div>
        <img
          src="https://www.zend.com/sites/default/files/image/2019-09/logo-jenkins.jpg"
          alt=""
          height="250px"
          width="300px"
        />
      </div>
    </div>
    <div style="text-align: center; letter-spacing: 3px">
      <h2>Stop Thinking... Start Learning...!</h2>
      <h3 style="font-style: italic; letter-spacing: 1px">
        Learning Jenkins & Docker will help you in ...
      </h3>
    </div>
  </body>
  <div
    style="
      background: #5d5c5c24;
      bottom: 0px;
      position: fixed;
      width: 100%;
      justify-content: center !important;
      align-items: center;
      display: flex;
    "
  >
    <h2 style="justify-content: center; align-items: center">
      Learn Docker | Jenkins
    </h2>
  </div>
</html>
