<!DOCTYPE html>
<html>
  <head>
    <title>Login | Docker | Jenkins</title>
  </head>
  <body>
    <div
      style="
        background: #5d5c5c24;
        top: 0px;
        width: 100%;
        justify-content: center !important;
        align-items: center;
        display: flex;
      "
    >
      <h1 style="text-align: center; width: 90%">
        D<span style="color: #0000008c">ocker</span>J<span
          style="color: #0000008c"
          >enkins</span
        >
      </h1>

      <div>
        <button
          style="
            font-size: 14px;
            border: none;
            background: transparent;
            cursor: pointer;
          "
        >
          <a href="/login" style="text-decoration: none; color: black">
            Login
          </a>
        </button>

        <button
          style="
            font-size: 14px;
            border: none;
            background: transparent;
            cursor: pointer;
          "
        >
          <a href="/login" style="text-decoration: none; color: black">
            Register
          </a>
        </button>
      </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <h2>Please login to proceed further...</h2>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <form action="">
        <input type="text" placeholder="Username" /><br />
        <input
          type="password"
          placeholder="Password"
          style="margin: 5px 0px"
        /><br />
        <input type="submit" />
      </form>
    </div>
  </body>
  <div
    style="
      background: #5d5c5c24;
      bottom: 0px;
      position: fixed;
      width: 100%;
      justify-content: center !important;
      align-items: center;
      display: flex;
    "
  >
    <h2 style="justify-content: center; align-items: center">
      Learn Docker | Jenkins
    </h2>
  </div>
</html>
